# Python dependencies\n# run: pip install -r requirements.txt\nalabaster==0.7.12\nBabel==2.9.1\ncertifi==2021.5.30\ncharset-normalizer==2.0.6\ncolorama==0.4.4\ndocutils==0.17.1\nidna==3.2\nimagesize==1.2.0\nJinja2==3.1.5\nMarkupSafe==2.0.1\npackaging==21.0\npyaml==21.8.3\nPygments==2.10.0\npyparsing==2.4.7\npytz==2021.3\nPyYAML==5.4.1\nrequests==2.26.0\nsnowballstemmer==2.1.0\nSphinx==4.2.0\nsphinx-rtd-theme==1.0.0\nsphinxcontrib-applehelp==1.0.2\nsphinxcontrib-devhelp==1.0.2\nsphinxcontrib-htmlhelp==2.0.0\nsphinxcontrib-jsmath==1.0.1\nsphinxcontrib-qthelp==1.0.3\nsphinxcontrib-serializinghtml==1.1.5\nurllib3==2.6.3\n